<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<form  action="add" method="post">
			<p>
				<label class="w3-text-gray"><b>Title</b></label>
				<input class="w3-input w3-border w3-light-grey" name="nameVocaloid" type="text">
			</p>
			<p>
				<label class="w3-text-gray"><b>List of modules</b></label>
				<input class="w3-input w3-border w3-light-grey" name="listOfModules" type="text">
				<input class="w3-input w3-border w3-light-grey" name="listOfModules" type="text">
				<input class="w3-input w3-border w3-light-grey" name="listOfModules" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>Songs from Vocaloid</b></label>
				<input class="w3-input w3-border w3-light-grey" name="songsFromVocaloid" type="text">
				<input class="w3-input w3-border w3-light-grey" name="songsFromVocaloid" type="text">
				<input class="w3-input w3-border w3-light-grey" name="songsFromVocaloid" type="text">
			</p>

			<p>
				<button class="w3-btn w3-blue">Add new Vocaloid</button>
			</p>
		</form>
	



</body>
</html>