<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<form  action="deleteOneVocal" method="post">
			<p>
				<label class="w3-text-gray"><b>Name of Vocaloid</b></label>
				<input class="w3-input w3-border w3-light-grey" name="nameVocaloid" type="text">
				<button class="w3-btn w3-blue">Delete</button>
			</p>
		</form>
		<form action="deleteAllVocals" method="post">
			<p>
				<button class="w3-btn w3-blue">Delete All Vocaloid</button>
			</p>
		</form>
	



</body>
</html>